#trigger:
#  - main

trigger:
  branches:
    exclude: [ "main" ]
# the above can also be written as below
#    - main
  tags:
    include: [ "*" ]


pool: slave

variables:
  COMPONENT: shipping

resources:
  repositories:
    - repository: templates
      type: github
      name: GurukaYadav/roboshop-azure-devops-templates
      endpoint: GurukaYadav


stages:
  - template: maven.yml@templates